/* Unique styles */

body { 
	height: 100%;
	padding-top: 0px;
	padding-bottom: 0px; 
	padding-left: 0px;
	padding-right: 0px;
}

section {
	padding-top: 0px;
	padding-bottom: 0px;
}

div.reference {
	padding-left: 30px;
}

html {
	height: 100%;
}

.bg {
	/* The image used */
	background-image: url("../files/background7.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* Opacity */
	opacity: .35
}